.box{
      
    width: 1813px;
    height: 630px;    
    background: #E7E7E7;
    
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0px;
    border-color: #AAAAAA;
    
  
  
  }
  main p{
    color: #981E32;
    font-size: 25px;
    text-align-last: left;
    margin-left: 30px;
    font-weight: bold;

  }
  .results-img{
    display: block;
    position: fixed;
    left: 600px;
   bottom: 420px;
    height: 370px;
    

  }
  main p{
    display: block;
    position: fixed;
    bottom: 310px;
    left: 570px;
      color: black;
      width: 659px;
      font-weight: bold;
      font-size: 25px;
  }

  main p2{
    display: block;
    position: fixed;
    bottom: 230px;
    left: 600px;
      color: black;
      width: 659px;
      font-weight: bold;
      font-size: 25px;
  }




  .download-button {
    display: block;
    margin-top: 60px;
    margin-left: 1250px;
    border: none;
    color: white;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .download-button1 {
    background-color: white;
    color: black;
    border: 2px solid #707070;
  }
  
  .download-button1:hover {
    border-color:#981E32;
    color: #981E32;
  }

  .save-icon{
    display: block;
    height: 70px;
    margin-bottom: 60px;
    margin-left: 705px;

  }

  .email-button {
    display: block;
    margin-top: 60px;
    margin-left: 1250px;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .email-button1 {
    background-color: white;
    color: black;
    border: 2px solid #707070;
  }
  
  .email-button1:hover {
    border-color:#981E32;
    color: #981E32;
  }

  .email-icon{
    display: block;
    height: 70px;
    margin-bottom: 280px;
    margin-left: 705px;
    
  }
  