* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",sans-serif;
  height: 100%;
}

/* Navbar */
nav{
  background-color: #981532;
  color: #fff;
}

.nav-item a{
  color: #fff;
  font-size: 20px;
}

.nav-item a:hover, .active {
  text-decoration: underline;
  color: #fff;
}


/* Main Login page */

.Login {
  margin: 8vw 32vw;
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

.Login h1 {
  text-align: center;
  color: #981532;
}

.sign-in {
  background-color: #981E32;
  color: #fff;
  border-color: #981E32;
  padding: 5px;
}

.sign-in:hover {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

/* Navbar logo */
nav {
  position: relative;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  height: 70px;
  width: auto;
  padding: 7px 14px;
}

/* Footer Styling */

.footer-img {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 200px;
}

hr {
  width: 100%;
  margin: 0;
}

footer {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 3;
}

.footer1 {
  width: 75%;
  margin-left: 12vw;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.Top-footer {
  padding:  35px 0;
}

.bottom-footer{
  padding: 35px 0;
}

footer h2 {
  margin-top: 15px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

footer p {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #000;
  background: #fff;
  overflow-wrap: break-word;
  margin: 0;
}

.site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.item::before {
  display: inline-block;
  content: "|";
  padding: 0 0.3125rem;
}

footer a {
  text-decoration: none;
  color: #32394d;
  margin: 0;
  font-size: 14px;
}

footer a:hover {
  color: #981532;
}

/* Icons in footer */

.social-media ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons {
  padding: 0 5px;
  display: block;
}

.fa {
  padding: 8px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  background: #981e32;
  color: white;
}
.fa-facebook {
  background: #3e3e42;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.fa-twitter {
  background: #3e3e42;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.fa-instagram {
  background: #3e3e42;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.fa-youtube {
  background: #3e3e42;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.fa-linkedin {
  background: #3e3e42;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}
